{%- if page.collection -%} 
  {%- assign arrCollectionPages = site[page.collection] | sort: "order" -%}

  {%- if arrCollectionPages.size > 1 -%}
    {%- for P in arrCollectionPages -%}
      {%- if P.path == page.path -%}
        {%- assign prev_index = forloop.index0 | minus: 1 -%}
        {%- assign next_index = forloop.index0 | plus: 1 -%}
        
        {%- break -%}
      {%- endif -%}
    {%- endfor -%}
  
    <nav class="collection-pagination">
      <ul class="collection-pagination-list">
        {%- if prev_index >= 0 -%}
          {%- assign prev = arrCollectionPages[prev_index] -%}
          <li class="collection-pagination-item prev">
            <a href="{{ prev.url | relative_url }}" title="{{ prev.title | escape }}">
              &larr; {{ prev.title | escape }}
            </a>
          </li>
        {%- endif -%}
        
        {%- if next_index < arrCollectionPages.size -%}
          {%- assign next = arrCollectionPages[next_index] -%}
          <li class="collection-pagination-item next">
            <a href="{{ next.url | relative_url }}" title="{{ next.title | escape }}">
              {{ next.title | escape }} &rarr;
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  {%- endif -%}
{%- endif -%}
