---
---

// Import Minimal Mistakes core styles
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes"; // main theme

/* ---- Custom overrides below ---- */
@font-face {
  font-family: 'Outfit';
  src: url("../../assets/fonts/Outfit-Regular/Outfit-Regular.woff2") format('woff2'),
    url("../../assets/fonts/Outfit-Regular/Outfit-Regular.woff") format('woff'),
    url("../../assets/fonts/Outfit-Regular/Outfit-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Nunito';
  src: url("../../assets/fonts/Nunito-Regular/Nunito-Regular.woff2") format('woff2'),
    url("../../assets/fonts/Nunito-Regular/Nunito-Regular.woff") format('woff'),
    url("../../assets/fonts/Nunito-Regular/Nunito-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

body.no-sidebar .page__content {
  max-width: 100% !important;
}

.initial-content {
  padding-bottom: 3em;
}

#main {
  max-width: 1390px;
  padding-inline: 0px;
}

//To remove the fade in animation when loading a page
.page__footer, .masthead {
  animation: none;
  animation-delay: none;
}

.page__footer {
  margin-top: 0px;
}

.sidebar__right {
  margin-top: 1em !important;
}

/* ---- Portfolio grid itself ---- */
.archive__item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.4); /* subtle border */
  border-radius: 30px;
  height: 100%;
  padding: 18px 18px 34px;
  transition: transform 0.35s ease;
  box-shadow: 0 0 3px #5a5a5a;

  &:hover {
    transform: scale(1.03);
    border: 1px solid #243B54;
    box-shadow: 0 0 6px #243B54;
  }
}

/* ---- Grid cards settings ---- */

/* ---- Overlay text settings for card images ----  */
.archive__item-teaser {
  container-type: inline-size;
  margin-bottom: 1px;
  overflow: visible;
  height: auto;
  max-height: none !important;
}

.archive__item-teaser img {
  border-radius: 17px;
  width: 100%;     
  height: auto;    
  object-fit: contain; 
}

.archive__item-teaser .overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bolder;
  text-align: center;
  line-height: 1.15;
  width: 90%;

  /* Primary: scale with the teaser container (works in modern browsers) */
  font-size: clamp(40px, 10cqw, 60px);
  font-family: monospace
}

.entries-grid {
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
}

.entries-grid .grid__item {
  width: 100%;      // fill its grid cell
  height: auto;
  max-width: none;  // remove any hard cap
  padding: 25px;
  margin: 0px;
}

.grid__item .archive__item-excerpt {
  display: block !important;
  font-style: italic;
}

.grid__item .archive__item-title {
  margin-bottom: 10px;
  margin-top: 20px !important;
  text-align: center;
  letter-spacing: 0.6px;
  font-size: 23px;
  font-family: 'Outfit';
}

.archive__item a[rel="permalink"] {
  color: black;
  text-decoration: none !important;
  font-weight: bold;
}

.masthead__menu-item {
  font-style: italic;
  font-family: monospace;
}

.masthead__menu-item a:hover {
  color: white !important;
  text-decoration: none;
}

.site-title {
  font-family: monospace;

  &:hover {
    color: white !important;
    text-decoration: underline;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .site-title {
    font-size: 14px;
  }
}

.navicon {
  background: white;
  height: 2px;
}

.navicon::before, .navicon::after {
  background: white;
  height: 2px;
}

.hidden-links li a:hover {
  color: black !important;
}

.greedy-nav__toggle:hover {
  .navicon, .navicon::before, .navicon::after {
      background: rgb(152, 152, 152);
  }
}

.hidden-links .masthead__menu-item a {
  color: black;
}

button:focus {
  outline: none;
}

.nav__items ul li a:hover {
  text-decoration: underline;
}

.greedy-nav a {
  color: white;
}

.masthead__inner-wrap, .greedy-nav {
  background:#00000000;
}

.masthead__inner-wrap {
  padding: 1em 0;
}

.masthead, .page__footer, .toc .nav__title {
  background: linear-gradient(90deg,rgba(20, 30, 48, 1) 0%, rgba(36, 59, 85, 1) 100%);
}

.toc .active a {
  background-color: #bcdaffeb;
}

.site-logo img {
  border-radius: 6px;
}

.page__title {
  text-align: center;
  pointer-events: none;
  font-family: 'Outfit';
  margin-bottom: 0px;
}

.nav__sub-title {
  font-size: 14px;
  text-transform: none;
}

code {
  background: #eeeeee !important;
}

.greedy-nav .visible-links a:before {
  background: white;
  transition: none !important;
  transform: scaleX(0) translate3d(0, 0, 0) !important;
}

.greedy-nav .visible-links a:hover {
  text-decoration: underline;
}

.page__footer-follow .social-icons a {
  text-transform: none;
  font-weight: 500;
}

h2 {
  margin-top: 25px !important;
}

a {
  text-decoration: none;
}

.gist { //GitHub Gist upper & lower margins
  margin: 22px 0px;
}

.gist .blob-wrapper table {
  background: #eeeeee;
  border-radius: 8px;
  padding: 10px 4px;
}

.gist-meta { //GitHub Gists lower text removing
  display: none;
}

/* ---- Projects Screenshots ---- */

.screenshots-grid {
  display: grid;
  column-gap: 24px;
  row-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(275px, auto));
}

figure {
  margin: 0px;
  cursor: pointer;
  transition: transform 0.35s ease;

  &:hover {
    transform: scale(1.03);
  }
}

figure img {
  margin-top: 10px;
  border-radius: 14px;
  margin-bottom: 5px;
}

figcaption {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  font-size: 0.655em;
}

.lightbox {
  display: none; /* hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  padding: 20px;
}

.lightbox.active {
  display: flex; /* show overlay */
}

.lightbox-image {
  max-width: 90%;
  max-height: 80%;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  transition: transform 0.25s ease, opacity 0.25s ease;

  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform, opacity;
}

@media (max-width: 1100px) {
  .lightbox-image {
    max-width: 75%;
  }
}

@media (max-width: 500px) {
  .lightbox-image {
    max-width: 65%;
  }
}

.lightbox-caption {
  margin-top: 10px;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
}

.lightbox .prev,
.lightbox .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transition: 0.2s;
}

.lightbox .prev:hover,
.lightbox .next:hover {
  color: #f0f0f0;
  transform: translateY(-50%) scale(1.1);
}

.lightbox .prev {
  left: 20px;
}

.lightbox .next {
  right: 20px;
}

body.no-scroll {
  overflow: hidden;
}

/* Collection-based prev/next nav styled like Minimal Mistakes pagination */
.collection-pagination-list {
  display: flex;
  width: 100%;
  list-style: none;
  margin: 0px 0px -18px;
  padding: 0;
  column-gap: 10px;
}

.collection-pagination-item {
  flex: 1; /* each takes half width */
  display: flex;
  justify-content: center; /* center horizontally */
}

.collection-pagination-item a {
  display: inline-block;
  padding: 12px 45px;
  background: white;
  border: 1px solid #000000;
  font-weight: 600;
  font-style: italic;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
  transition: background 0.3s ease;
  border-radius: 50px;

  &:hover {
    background: #e3f2ff;
  }
}

//For disclaimers
blockquote {
    margin-block: 0px;
    padding-inline: 0px;
    border-inline-start: none;
    background-color: #ff000038;
    border: 3px solid #ff00005e;
    margin-left: 0px;
    margin-inline-end: revert;
    padding: 17px;
    margin-bottom: 17px;
    border-radius: 14px;
}

blockquote p {
  margin: 0px !important;
}

.page__content ul li, ol li, .page__content p, td, th {
  font-size: 18px !important;
  font-family: 'Nunito';
}

.grid__item .archive__item-excerpt {
  font-size: 16px !important;
  font-family: 'Nunito';
}

.archive ul li {
  font-family: 'Nunito';
  font-size: 20px;
}

.nav__items li ul li, .toc ul li {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif !important;
}

.nav__items li ul li {
  font-size: 0.7em !important;
}

.toc ul li {
  font-size: 0.9em !important;
}

h1, h2 {
  font-family: 'Outfit';
}

h1 {
  font-size: 23px;
}

.page__title {
  font-size: 27px;
}

h2 {
  font-size: 19.5px;
}

.toc .nav__title {
  font-size: 16px;
}

.page__meta p {
  margin: 0px 0px 26px;
}

/* ---- Custom Badges ----*/
.badge {
  font-size: 9px;
  width: fit-content;
  border-width: 3px;
  border-style: solid;
  font-weight: 900;
  border-radius: 20px;
  padding: 4px 10px;
  align-items: center;
  position: absolute;
  bottom: 4px;
  right: 18px;
  cursor: pointer;
  user-select: none;
  letter-spacing: 0.3px;
  transition: background-color 0.3s ease;
}

.badge-OOP {
  color: #ff9400;
  border-color: #ff9400c4;

  &:hover {
    background-color: #ff950043;
  }
}

.badge-FP {
  color: #7c4bb7;
  border-color: #7c4bb7c4;

  &:hover {
    background-color: #7c4bb743;
  }
}

/* ---- Tables ----*/
table {
  margin-top: 20px;
  border: 1px solid #243B54;
  border-radius: 8px;
  table-layout: fixed;
}

thead {
  background-color: #9ac9ef;
  border-bottom: 1px solid #243B54;
}

tr {
  border-color: red;
}

th {
  font-size: 15px !important;
  padding: 9px;
  text-align: center;
}

td {
  font-size: 14px !important;
  padding: 10px;
  border-right: 1px solid #8f8f8f;
}

th, td {
  width: auto;
}

.last-table-row {
  border-bottom: none;
}

.last-table-column {
  border-right: none;
}


@media (max-width: 1400px) {
  #main {
    padding-inline: 1em;
  }

  .masthead__inner-wrap {
    padding: 1em;
  }
}

@media (max-width: 1000px) {
  .badge {
    font-size: 8px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  .collection-pagination-item a {
    padding: 10px 24px;
    font-size: 16px;
  }
}

/* Mobile */
@media (max-width: 655px) {
  .archive ul li {
    font-size: 16px;
  }

  .collection-pagination-item a {
    padding: 8px 20px;
    font-size: 13px;
  }

  .badge {
    font-size: 7px;
  }

  .page__content ul li, ol li, .page__content p {
    font-size: 16px !important;
  }

  .toc ul li {
    font-size: 1.1em !important;
  }

  .nav__items li ul li {
    font-size: 0.85em !important;
  }

  .page__title {
    font-size: 25.6px;
  }

  h2 {
    font-size: 17px;
  }

  td {
    font-size: 13px !important;
  }

  th {
    font-size: 14px !important;
  }
}
