---
# Grid cards are built in a for loop.
# They are fetched from the collection used by the user of this layout.
# Then sorted reversely based on the value of `order`, and rendered as project cards.
layout: archive
---
{{ content }}

<div class="entries-grid">
  {% assign arrCollectionPages = site[page.collection] | sort: "order" %}

  {% for P in arrCollectionPages reversed %}
    <div class="grid__item">
      <article class="archive__item" itemscope="" itemtype="https://schema.org/CreativeWork">
        <div class="archive__item-teaser">
          <img src="{{ P.header.teaser | relative_url }}" alt="">
          <span class="overlay-text">{{ P.overlay_text }}</span>
        </div>

        <h2 class="archive__item-title no_toc" itemprop="headline">
          <a href="{{ P.url | relative_url }}" rel="permalink">{{ P.title }}</a>
        </h2>

        <p class="archive__item-excerpt" itemprop="description">{{ P.excerpt }}</p>
      </article>
    </div>
  {% endfor %}
</div>
